# Ignore build output
.next/
out/

# Ignore .swc cache
.swc/

# Ignore dependencies
node_modules/

# Ignore coverage reports
coverage/

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
*.log

# Ignore public assets
public/static/
public/images/

# Ignore TypeScript build output
dist/